body {
    padding: 40px;
}

.btn {
    .fa {
        margin-right: 8px;
    }
}

.panel {
    font-size: 1.4em;

    .panel-heading {
        h1 {
           font-size: 1.4em;
           margin: 0;
        }
    }
    p {
        margin: 1em 0;
    }
}

.license-content {
    width: auto;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

footer {
    padding: 40px;
    font-size: 10pt;
    color: #666;

    a {
        color: #888;
    }
}

@media all and (max-width:767px) {
    body, footer {
        padding: 15px 0;
    }
    .license-content {
        width: 100%;
        height: 100px;
    }
}

